.about {
    @include wrapper;
    margin: 100px auto;
    @include borderStyle;

    &__header {
        letter-spacing: 10px;
        font-size: 30px;
        height: 30px;
        text-transform: uppercase;
    }

    &__text {
        @include sectionText;
    }
}

.header-wrapper {
    @include headerWrapperPos;
}