* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper {
    @include flexDir (row);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.line {
    @include lines ();
}