.blog {
    background-color: #b07cf7;
    & > .container {
        @include mediaPadding (40px); 
           
    }

    &__header {
        @include headerStyle(#ffffff, 700);
        text-align: center;
        font-size: 30px;
        @media screen and (min-width: 720px) {
            font-size: 50px;
        }
    }
    
    &__subheader {
        @include fontFam (#ffffff, 300);
        text-align: center;
        width: 80%;
        margin: 20px auto;
        @media screen and (min-width: 720px) {
            width: 60%;
        }
    }


}

.blog__item-wrapper {
    margin-top: 20px;

    @media screen and (min-width: 720px) {
        @include displayFlex (row);
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.item {
    padding: 20px;
    cursor: pointer;
    box-shadow: inset 0px -160px 68px -64px rgba(0,0,0,0.75),  0 2px 2px 0px rgba(0, 0, 0, .75);
    transition: ease-in-out .2s;
    margin: 20px 10px;
    background-position: bottom;
    background-size: cover;
    @include fontFam (#ffffff, 400);

    &:nth-child(1) {
        background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img1.jpg);
    }

    &:nth-child(2) {
        background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img2.jpg);
    }

    &:nth-child(3) {
        background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img3.jpg);
    }

    &:hover {
        box-shadow: inset 0px -160px 68px -64px rgba(0,0,0,0.75), 0 3px 3px 0px rgba(0, 0, 0, .75);   
    }

    &__date {
        padding-bottom: 5px;
        line-height: 1;
        font-size: 20px;
        font-weight: 800;
        width: 65px;
        height: 65px;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 10%;
        color: #ffffff;
        @include displayFlex (column);
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        & .date {
            font-size: 30px;
        }
    }

    &__caption {
        width: 90%;
        font-size: 16px;
        font-weight: 800;
        margin: 100px 0 0;
    }

    &__author {
        margin: 10px 0 0;
        color: rgb(156, 156, 156);

        & .author__date::before {
            content: ' - ';
        }
    }

    @media screen and (min-width: 720px) {
        width: 45%;
    }
    @media screen and (min-width: 940px) {
        width: 30%;
    }
}

.blog__btn {
    display: block;
    @include btnStyle (#f72b3b, #ffffff);
    margin: 20px auto;
}